.section5 {
    height: 1321px;
    padding: 118px 10% 118px 10%;
}

.s5-block1 {
    width: 1141px;
    height: 1081px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 14px;
    column-gap: 15px;
    grid-template-areas: 
        "h-text h-text h-text"
        "pic1 pic2 pic3"
        "pic4 pic5 pic6"  ;
}

.s5-box1-ht1 {
    grid-area: h-text;
}

    .s5-box1-h1 {
        opacity: 0.9;
        color: #000000;
        font-family: Montserrat;
        font-size: 38px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .s5-box1-t1 {
         opacity: 0.62;
         color: #000000;
         font-family: Merriweather;
         font-size: 17px;
          font-weight: 400;
          font-style: normal;
         letter-spacing: normal;
         line-height: 28px;
          text-transform: uppercase;
        margin-bottom: 100px;
    }

.s5-box2 {
    grid-area: pic1;
    position: relative;  
    }

    .s5-box2:hover .s5-boxre6-hti {
        display: block;
    }

.s5-box3 {
    grid-area: pic2;
    position: relative;  
    }

    .s5-box3:hover .s5-boxre6-hti {
        display: block;
    }

.s5-box4 {
    grid-area: pic3;
    position: relative; 
}

    .s5-box4:hover .s5-boxre6-hti {
         display: block;
    }

.s5-box5 {
    grid-area: pic4;
    position: relative; 
}

    .s5-box5:hover .s5-boxre6-hti {
         display: block;
    }


.s5-box6 {
    grid-area: pic5;
    position: relative; 
}

    .s5-box6:hover .s5-boxre6-hti {
         display: block;
    }


.s5-box7 {
    grid-area: pic6;
    position: relative; 
}

    .s5-box7:hover .s5-boxre6-hti {
         display: block;
    }

.s5-boxre6-hti {
    background-image: url(../images/s5--bg.png);
    position: absolute;
    top: 184px;
    right: 17px;
    bottom: 15px;
    left: 18px;
    display: none;
    width: 335px;
    height: 241px;
}

    .s5-boxre6-h1{
        margin-top: 43px;
        padding-left: 38px;
        text-align: left;
    }

    .s5-boxre6-h2 {
         opacity: 0.95;
         color: #767070;
         font-family: Merriweather;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
    }

    .s5-boxre6-t1 {
        margin-top: 23px;
        padding-left: 38px;
        opacity: 0.8;
        color: #000000;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
    }

    .s5-boxre6-href1 {
        display: flex;
        margin-top: 37px;
        margin-left: 39px;
        text-align: left;
        gap: 15px;
    }




    









