.section5 {
    background-color: #EEEFF1;
    padding-top: 100px;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.work-h {
    font-size: 2rem;
    font-weight: 600;
}

.work-t {
    margin-top: 50px;
    margin-bottom: 57px;
    color: #727272;
    line-height: 1.5;
    text-align: center;
}

.work-v {
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.work-v-frame {
    z-index: 1;
}

.work-v-play {
    position: absolute;
    z-index: 2;
    bottom: 350px;
}